<div class="row">
    <small *ngIf="inDevMode" class="debug">{{me}}</small>
    <div class="col-xs-3" style="padding-left: 30px">
        <div (click)="$event.preventDefault()">
            <a (click)="onAddRate($event)" class="btns addUser" href="#">
                <span class="fa fa-plus"></span>
            </a>
            <a (click)="onRemoveRate($event)"
               [ngClass]="{disabled: !selectedAdnetRateModel }" href="#">
                <span class="remove fa fa-remove"></span></a>
        </div>
        <simplelist *ngIf="filteredRates" #simplelist [list]="filteredRates"
                    [editable]="true"
                    (edited)="onRateRenamed($event)"
                    (selected)="onSelection()" [content]="getContent"></simplelist>
    </div>
    <div class="col-xs-9">
        <RatesTable [hidden]="!selectedAdnetRateModel" [rates]="selectedAdnetRateModel"
                    (onRateChange)="onRateChange($event)"></RatesTable>
    </div>
</div>

